absl-py==0.14.1
asgiref==3.4.1
astunparse==1.6.3
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.4
contourpy==1.2.0
cycler==0.10.0
Django==3.2.8  # Adjust Django version based on your project requirements
dm-tree==0.1.6
filelock==3.0.12
flatbuffers==1.12
fonttools==4.27.0
fsspec==2023.12.2
gast==0.5.4
google-auth==2.25.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==3.2
importlib-metadata==4.8.1
importlib-resources==5.2.2
Jinja2==3.0.1
joblib==1.0.1
keras==2.4.3
kiwisolver==1.3.1
libclang==11.0.0
Markdown==3.3.4
markdown-it-py==1.0.0
MarkupSafe==2.0.1
matplotlib==3.4.3
mdurl==0.1.0
ml-dtypes==0.2.0
mpmath==1.2.1
namex==0.0.7
networkx==2.6.3
nltk==3.6.6
numpy==1.21.2
oauthlib==3.2.0
opencv-python==4.5.3.56
opt-einsum==3.3.0
packaging==21.0
Pillow==8.3.2
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.10.0
pyparsing==2.4.7
python-dateutil==2.8.2
regex==2021.10.23
requests==2.26.0
requests-oauthlib==1.3.1
rich==10.10.0
rsa==4.7.2
six==1.16.0
sqlparse==0.4.2
sympy==1.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorflow==2.6.0
tensorflow-estimator==2.6.0
tensorflow-intel  # Add a version if this is required
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
torch==1.10.0
tqdm==4.62.0
typing-extensions==3.10.0.2
tzdata==2021.5
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.6.0
